// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.primaryColor{
	background: #222639;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.heroFont{
	font-size: 25px;
	font-weight: 200;
	color: white;
	word-spacing: 5px;
	letter-spacing: 7px;
}
.fontHero{
	font-size: 55px;
	font-weight: 300;
}
.round1{
	border-radius: 0.25rem;
	color: black;
}
.imagehero{
	border-radius: 50rem;
	width: 380px;
	height: 380px;
	margin-left: 20px;
}
.projectMargin{
	margin-top: 0px;
	padding-top: 0px;
}
.card-imageCustom{
	height: 200px;
	width: 200px;
}
.card_Style{
	border-radius: 1rem;
	background: rgba(0,128,238,0.07);
}
.customImage{
	height: 250px;
	width: 290px;
}


.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
	.imagehero{
		display: none;
	}
	.customImage{
		width: 90px;
		height: 90px;
	}
  
}