// VARIABLES

$primary-color: #2980b9;
$secondary-color: #6dd5fa;
$navbar-height:5rem;
$navbar-background-color:#222639;
$navbar-item-color:#ffffff;
$navbar-item-hover-background-color: #222639;
$navbar-item-active-color:#256358;
$hero-body-padding:.5rem;